@page "/about"
@rendermode InteractiveWebAssembly

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>This quad beam calculator/designer is based on a design I used in 1998 for a 4 element Quad for the 2m (145MHz) amateur/ham radio band. However, it can be used for any frequency from 
	1MHz - 10GHz (although realistically below 14MHz it will be extremely large and heavy).  It offers a rather impressive forward gain of 11.5 - 12dBd, that’s approximately 10.6 to 10.8 
	times the output power from the rear of your transmitter.  All the lengths calculated are per side so you will need to multiply by 4 to get the total length of wire required for each 
	element.  The spacing between each element can be adjusted to help with matching but the values given shoul provide the highest gain for the shortest length.  The driven element is a 
	full wave loop and has a feedpoint impedance of approximately 50 Ohms so can be fed directly with coax or via a 1:1 BALUN.  

	A square boom is recommended as this is easier to mount the elements on but the final design is down to you.  For lower frequencies the antenna may be quite large so is best mounted in
	the centre of the boom but for higher frequencies (UHF and above) the antenna should be mounted at the rear of the boom to avoid interaction with the mast.
</p>


@code {

}
