@page "/"

<PageTitle>Home</PageTitle>

<h1>Quad Beam</h1>

Copyright © Nigel Booth for Mogpie 2025. <br/>

<img src="/images/quad.jpg" height="400" />

<p>Use this designer to develop a 4 element quad beam antenna for any frequency from 1Mhz to 10Ghz.  </p>
